include ./partials/mixins
include ./partials/header

head
  meta(charset='utf-8')
  title= locals.title
  link(href='/css/style.css', rel='stylesheet')
body.l-container
  header
    h1.m-header.meow!= locals["page-header"] + "!!!"
    h2.m-header_sub!=locals["page-subheader"]
  .m-main  
    section
      h1.m-subheader What I'm About
      for paragraph in locals["what-im-about"]
        p!= paragraph
    section
      h1.m-subheader Professional Interests
      ul
        for paragraph in locals["professional-interests"]
          li!= paragraph
    section
      h1.m-subheader Personal Interests
      ul
        for paragraph in locals["personal-interests"]
          li!= paragraph
    section
      h1.m-header_sub Projects:
      section
        h1.m-proj_header Professional:
        ul
          for currProject in locals["sleepless-projects"]
            li
              +project(currProject["name"],currProject["url"],currProject["tech"],currProject["desc"],currProject["pic"])
      section
        h1.m-proj_header Personal:
        ul
          for currProject in locals["personal-projects"]
            li
              +project(currProject["name"],currProject["url"],currProject["tech"],currProject["desc"],null)
    section
      h1.m-header_sub Connect:
      for item in locals["connect"]
        div!= item
    section
      h1.m-subheader Social Media
      each val, item in locals["social-media"]
        div
          a(href=val target="_blank")!= item
